<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>UserData</display-name>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>user.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>user.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/addUser.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserFormServlet</servlet-name>
        <servlet-class>user.AddUserFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserFormServlet</servlet-name>
        <url-pattern>/adduser.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveUserServlet</servlet-name>
        <servlet-class>user.RemoveUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveUserServlet</servlet-name>
        <url-pattern>/removeUser.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>user.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users.html</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>users.html</welcome-file>
    </welcome-file-list>

</web-app>
